<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12">
        <label style="display: block">Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
      </div>

      <div class="ui-g-12">
        <button type="submit" label="Pesquisar" pButton></button>
      </div>
    </form>
  </div>


  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="pessoas" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true" [lazy]="true"
               (onLazyLoad)="aoMudarPagina($event)" [totalRecords]="totalRegistros" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nome">Nome
              <p-sortIcon field="nome"></p-sortIcon>
            </th>
            <th pSortableColumn="cidade">Cidade
              <p-sortIcon field="cidade"></p-sortIcon>
            </th>
            <th pSortableColumn="estado">Estado
              <p-sortIcon field="estado"></p-sortIcon>
            </th>
            <th pSortableColumn="ativo">Status
              <p-sortIcon field="ativo"></p-sortIcon>
            </th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.endereco.cidade}}</td>
            <td>{{pessoa.endereco.estado}}</td>
            <td>
              <span [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top">
                {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}</span>
            </td>
            <!--            <button pButton label="Teste"></button>-->
            <td class="col-acoes">
              <a icon="fa fa-pencil" pButton pTooltip="Editar" tooltipPosition="top"></a>&nbsp;
              <button icon="fa fa-trash" pButton pTooltip="Excluir" tooltipPosition="top"
                      (click)="verificarExclusao(pessoa)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="5" style="text-align:center">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

    <div class="ui-g-12">
      <a label="Nova Pessoa" pButton></a>
    </div>
  </div>

</div>
