<div class="container">
  <form autocomplete="off" #lancamentoCadastroForm="ngForm" (ngSubmit)="salvar(lancamentoCadastroForm)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos"
                        [(ngModel)]="lancamento.tipo"
                        #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
                    [inline]="false" [readonlyInput]="false" [showIcon]="true"
                    [(ngModel)]="lancamento.dataVencimento"
                    #vencimento="ngModel" required></p-calendar>

        <app-message [control]="vencimento" error="required"
                     text="Informe uma data de vencimento"></app-message>
      </div>


      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}
        </label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [showIcon]="true"
                    [(ngModel)]="lancamento.dataPagamento"
                    name="pagamento"  ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">

        <label>Descrição</label>
<!--        {{descricao.errors |json}}-->
        <input pInputText type="text" name="descricao" [(ngModel)]="lancamento.descricao" #descricao="ngModel" valid required="true" minlength="5">
        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de 5 caracteres"></app-message>

        <!--        <div>-->
<!--&lt;!&ndash;          descricao.errors.minlength.requiredLength&ndash;&gt;-->
<!--          <p-message severity="error" [text]="descricao.errors['minlength'] ?-->
<!--          'Informe uma descrição de no mínimo 5 caracteres' : ''" *ngIf="!descricao.valid&&descricao.dirty"></p-message>-->
<!--        </div>-->
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" placeholder="0,00"
               currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
               [(ngModel)]="lancamento.valor" required>
      </div>


      <div class="ui-g-12 ui-md-6 ui-fluid">
<!--        <label>Categoria {{categoria.value}}</label>-->
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" #categoria name="categoria"
                    [(ngModel)]="lancamento.categoria.codigo"
                    valid required="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" filter="true" name="pessoa"
                    [(ngModel)]="lancamento.pessoa.codigo"
                    valid required="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
                  [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="lancamentoCadastroForm.invalid"></button>&nbsp;
        <button pButton type="button" label="Novo" class="ui-button-secondary"></button>&nbsp;
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>


    </div>
  </form>
</div>
